* {
	border: 1px solid red;
}

.container {
	width: 100%;
	height: 8em;
}

.title-container {
	height: 8em;
	width: 67%;
	margin: auto;
	position: relative;
}

.title-container h1 {
	margin: 1.3em 0;
}